

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**** Changing Background of jumbotron for seperate pages **/
	.jumbotron {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.homepage .jumbotron {
		background-image: url('../images/homepage_bg.png');
	}

	.portfolio .jumbotron {
		background-image: url('../images/code_bg.png');
	}

	.personal .jumbotron {
		background-image: url('../images/personal_bg.png');
	}

	.contact .jumbotron {
		background-image: url('../images/contact.png');
	}

	.resume .jumbotron {
		background-image: url('../images/resume.png');
	}

	.jumbotron .triangle {
		width: 0;
		height: 0;
		border-left: 150px solid transparent;
		border-right: 150px solid transparent;
		border-bottom: 250px solid white;
		margin: 0 auto;
	}

	.resume .jumbotron .triangle {
		border-bottom: 250px solid lightslategrey;
	}

	.jumbotron .triangle h3 {
		position: relative;
		bottom: -3em;
		right: 1.75em;
		display: block;
		font-size: 3em;
		width: 150px;
		text-align: center;
		text-transform: uppercase;
	}


	#homepage_content {
		margin-bottom: 100px;
	}

	#portfolio_content {
		margin-bottom: 100px;
	}

	div#name h1, div#name h2 {
		-webkit-transition: color 1s;
		transition: color 1s;
	}

	h2 span.developer {
		transition: 1s;
		-webkit-transition: 1s;
		text-decoration: underline;
	}

	h4 span.developer, h4 span.designer {
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
	}

	h2 span.designer {
		transition: 1s;
		-webkit-transition: 1s;
		text-decoration: underline;
	}

	.developer_hover {
		transition: 1s;
		-webkit-transition: 1s;
		color: orange;
	}

	.designer_hover {
		transition: 2s;
		-webkit-transition: 2s;
		color: blue;
	}

	div#resume_content {
		margin-bottom: 200px;
	}

	div.res_link {
		margin-top: 50px;
	}

	h2#resHead {
		font-size: 80px;
	}

	.resume .triangle h3 {
		bottom: -4em;
		right: 1.75em;
	}

	.contact .triangle h3 {
		bottom: -2.5em;
	}

	div.xp {
		padding-top: 20px;
	}

	body.port_item div#name p {
		font-size: 18px;
	}

	div.well {
		background-image: none;
		background-color: white;
		border: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	legend {
		border-bottom: 0;
	}

	.contact button {
		width: 100%;
	}

	.navbar {
		background-color: white;
	}

	.homepage .navbar-inverse {
		border-top: 2px solid sienna;
	}

	.homepage .navbar-inverse a {
		color: sienna !important;
	}

	.resume .navbar-inverse a {
		color: lightslategrey !important;
	}

	.portfolio .navbar-inverse a {
		color: #424a63 !important;
	}

	.personal .navbar-inverse a {
		color: #62bce4 !important;
	}

	.contact .navbar-inverse a {
		color: #b4a162 !important;
	}

	.resume .navbar-inverse {
		border-top: 2px solid lightslategrey;
	}

	.portfolio .navbar-inverse {
		border-top: 2px solid #424a63;
	}

	.personal .navbar-inverse {
		border-top: 2px solid #62bce4;
	}

	.contact .navbar-inverse {
		border-top: 2px solid #b4a162;
	}

	.contact div.well {
		background-color: #b4a162;
	}

	h1, h2, h3, h4 {
		font-family: 'courier', serif;
	}

	.homepage .triangle h3 {
		color: sienna;
	}

	body.homepage {
		background-color: sienna;
		color: white;
	}

	.resume .triangle h3 {
		color: white;
	}

	body.resume {
		background-color: lightslategrey;
		color: white;
	}

	.portfolio .triangle h3 {
		color: #424a63;
	}

	body.portfolio {
		background-color: #424a63;
		color: white;
	}

	.personal .triangle h3 {
		color: #62bce4;
	}

	body.personal {
		background-color: #62bce4;
		color: white;
	}

	.contact .triangle h3 {
		color: #b4a162;
	}

	body.contact {
		background-color: #b4a162;
		color: white;
	}

	div#name a {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
	}

	h3.social {
		text-align: center;
	}

	h3.social a {
		color: white !important;
	}

	h3.resume_pdf {
		text-align: center;
	}

	h3.resume_pdf a {
		color: white !important;
	}

	body.basichtml .navbar-inverse .navbar-brand {
		color: #93c54b;
	}

	body.bootstrap {
		background-color: #252525;
		color: white;
	}

	body.bootstrap a {
		color: white !important;
	}

	body.bootstrap .navbar-inverse {
		background-color: #252525;
		color: white;
		border-color: white;
	}

	body.breakfast {
		color: black;
	}

	body.breakfast a {
		color: black !important;
	}

	body.breakfast .navbar-inverse {
		border-color: black;
	}

	body.codepen {
		background-color: black;
		color: white;
	}

	body.codepen a {
		color: white !important;
	}

	body.codepen .navbar-inverse {
		background-color: black;
		border-color: white;
	}

	body.shred {
		background-color: #99e37f;
		color: white;
	}

	body.shred a {
		color: white !important;
	}

	body.shred .navbar-inverse {
		background-color: #99e37f;
		border-color: white;
	}

	body.remix {
		background-color: #cccccc;
		color: #31069d;
	}

	body.remix a {
		color: #31069d !important;
	}

	body.remix .navbar-inverse {
		background-color: #cccccc;
		border-color: #31069d;
	}

	body.sass {
		background-color: #f2f2f2;
		color: black;
	}

	body.sass a {
		color: black !important;
	}

	body.sass .navbar-inverse {
		background-color: #f2f2f2;
		border-color: black;
	}

	body.kvb {
		background-color: #c8e0eb;
		color: #002c5f;
	}

	body.kvb a {
		color: #002c5f !important;
	}

	body.kvb .navbar-inverse {
		background-color: #c8e0eb;
		border-color: #002c5f;
	}

	body.wordpress {
		color: #2b522e;
	}

	body.wordpress a {
		color: #2b522e !important;
	}

	body.wordpress .navbar-inverse {
		background-color: white;
		border-color: #2b522e;
	}

	body.xmljson a {
		color: black !important;
	}

	body.xmljson .navbar-inverse {
		border-color: black;
	}






















