<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

        <script src="{{ site.baseurl }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="resume">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Arrow for scrolling to next section -->
    <div class="jumbotron">
      <div class="container">
        <div class="triangle">
          <h3>Resume</h3>
        </div>
      </div>
    </div>


    <div id="homepage_content" class="container content">

        <div class="row">

          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-6">
                <h2>Jay Laiche</h2>
              </div>

              <div class="col-md-4 col-md-offset-2">
                <h3 class="text-right">jay@jaylaiche.com</h3>
                <h3 class="text-right">github.com/laichejl</h3>
                <h3 class="text-right">Richmond, VA</h3>
                <h3 class="text-right">(804)543-7216</h3>
              </div>
            </div>

              {{ content }}
          </div>
        </div>
    </div>

      {% include nav.html %}

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.basurl }}js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="{{ site.baseurl }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}js/vendor/waypoints.js"></script>
        <script src="{{ site.baseurl }}js/vendor/smooth-scroll.js"></script>
        <script src="{{ site.baseurl }}js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>